<!DOCTYPE html>
<html lang="en">
    <head>
        <!--page setup-->
        <script src="../create_tier.js"></script>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		<link href="../resources/css/my_style.css" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>


    <body class= "bg-custom-bubbles">
        <!--afixed navbar-->
		<nav class="navbar navbar-expand-lg navbar-dark bg-custom-1">
            <a class="navbar-brand" href="home_page">
                <img src="http://clipart-library.com/img1/766256.png" alt="Logo" width="30" height="30">
            </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="home_page">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../login">Create a Tier List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../leaderboard">Leaderboard</a>
                </li>
		<li class="nav-item">
                    <a class="nav-link" href="../search">Search</a>
                </li>
            </ul>
        </div>
    </nav>
        <!--few breaks for spacing-->
        <br>
        <br>
        <br>
        <br>

		<div class="card card-image bg-custom-1">
			<div class="text-white text-center rgba-stylish-strong py-5 px-5">
				<div class="py-5">

					<!-- Content -->
					<h3>Rank Your Passions</h3>
					<h1>TIERIO: A WORLDCLASS TIER LIST MAKER</h1>
					<br>
					<br>
					<h3>What is TIERIO and how do you use it?</h3>
					<h5> TIERIO is an advanced tier list maker that has been developed by University of Colorado Students. TIERIO adds flare to the average tier list. 
					Users are able to rank thier items based on thier personal likings by categories. If you are curious about what others are ranking, navigate the Leaderboards to see the popular rankings.</h5>
				</div>
			</div>
		</div>

		<br>
		<br>
		<br>
		<br>

		<div class="container">
			<div class="row">
				<div id="i1" class="col-sm-4">
					<div class="card bg-custom-1" style="width: 18rem">
						<img class="card-img-top" src="https://adobe.ly/2SIyKrI" alt="Create a Tier List">
						<div class="card-body">
							<button class="btn-bright-gradient" onClick = "window.location.href='login'">Create a Tier List</button>
						</div>
					</div>
				</div>
				<div id="i2" class="col-sm-4">
					<div class="card bg-custom-1" style="width: 18rem">
						<img class="card-img-top" src="https://bit.ly/3iOobhh" alt="Leaderboard">
						<div class="card-body">
							<button class="btn-bright-gradient" onClick = "window.location.href='leaderboard'">Access the Leaderboard</button>
						</div>
					</div>
				</div>
				<div id="i2" class="col-sm-4">
					<div class="card bg-custom-1" style="width: 18rem">
						<img class="card-img-top" src="https://bit.ly/30WtTaU" alt="Creators">
						<div class="card-body">
							<button class="btn-bright-gradient" onClick = "window.location.href='views/creators.html'">Meet the Creators</button>
						</div>
					</div>
				</div>
			</div>
		</div>


    </body>


    <footer>

    </footer>

</html>
